@model AdminViewModel


@{
    Layout = "_LayoutNoSidebar";

}

@section CustomStyles
{
    <link rel="stylesheet" href="@Url.Content("~/css/adminlayout.css")" />
}



<div class="admin-password-main-wrapper">
    <div class="admin-password-wrapper">
        <div class="title-holder">
            <h4>Manage Password</h4>
        </div>
        <div class="form-holder">
            <form method="post" asp-action="UpdateAdminPassword">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.User.Id)
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div id="input-text" class="password-input">
                    <label asp-for="@Model.User.Email"></label>
                    <div id="input-wrapper">
                        <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
                        <input asp-for="@Model.User.Email" value="@Model.User.Email" readonly />
                    </div>
                </div>
                <div id="input-text" class="password-input">
                    <label asp-for="@Model.User.CurrentPassword"></label>
                    <div id="input-wrapper">
                        <span class="text-danger">@(TempData["CurrentPasswordValidation"]?.ToString() == null ? "" : TempData["CurrentPasswordValidation"])</span>
                        <input asp-for="@Model.User.CurrentPassword" type="password" placeholder="Current Password" />
                    </div>
                </div>
                <div id="input-text" class="password-input">
                    <label>New Password</label>
                    <div id="input-wrapper">
                        <span asp-validation-for="@Model.User.Password" class="text-danger"></span>
                        <input asp-for="@Model.User.Password" id="admin-password" type="password" placeholder="New Password" />
                    </div>
                </div>
                <div id="input-text" class="password-input">
                    <label asp-for="@Model.User.ConfirmPassword"></label>
                    <div id="input-wrapper">
                        <span class="text-danger">@(TempData["ConfirmPasswordMessage"]?.ToString() == null ? "" : TempData["ConfirmPasswordMessage"])</span>
                        <input asp-for="@Model.User.ConfirmPassword" id="admin-confirm-password" type="password" placeholder="Confirm Password" />
                    </div>
                </div>
                <div class="show-password">
                    <input type="checkbox" id="show-password-checkbox" /> <span>Show Password</span>
                </div>
                <div class="btn-wrapper">
                    <a asp-action="Index" class="btn btn-secondary" id="cancel-btn">Cancel</a>
                    <button type="submit" class="btn btn-primary" id="submit-btn">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section CustomScripts{
    <script src="@Url.Content("~/js/site.js")"></script>
    <partial name="_ValidationScriptsPartial" />
}