@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutNoSidebar";
}

@section CustomStyles {

    <link rel="stylesheet" href="@Url.Content("~/css/loginAndregister.css")" />
}

<div class="register-main-container">
    <div class="register-wrapper">
        <div class="row reg-title">
            <h5 class="text-light">Create an account</h5>
            <p class="text-secondary">and manage your expenses</p>
        </div>
        <div class="row register-holder">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <div class="registerInput">
                    <i class="fa-solid fa-envelope reg-icon"></i>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" />
                </div>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                <div class="registerInput">
                    <i class="fa-solid fa-file-signature reg-icon"></i>
                    <input asp-for="Input.FirstName" autocomplete="firstname" aria-required="true" placeholder="First Name" />
                </div>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                <div class="registerInput">
                    <i class="fa-solid fa-file-signature reg-icon"></i>
                    <input asp-for="Input.LastName" autocomplete="lastname" aria-required="true" placeholder="Last Name" />
                </div>
                <span asp-validation-for="Input.SourceOfIncome" class="text-danger"></span>
                <div class="registerInput">
                    <i class="fa-solid fa-wallet reg-icon"></i>
                    <input asp-for="Input.SourceOfIncome" autocomplete="occupation" aria-required="true" placeholder="Source of income" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="registerInput">
                    <i class="fa-solid fa-lock reg-icon"></i>
                    <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Password" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <div class="registerInput">
                    <i class="fa-solid fa-lock reg-icon"></i>
                    <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                </div>
                <button type="submit" class="reg-submit">
                    Confirm
                </button>
            </form>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {

                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="reg-google-button" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <span>
                                            <i class="fa-brands fa-google"></i>
                                        </span>
                                        Sign up with @provider.DisplayName
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
            <span>
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" id="login-link">
                    Already have an account? <br />
                    <span id="login-link-text">Sign in Here</span>
                </a>
            </span>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
