@{

    var controllerName = "";

    if (ViewData["CurrentController"]?.ToString() == "Category")
    {
        controllerName = "Category";
    }
    else if (ViewData["CurrentController"]?.ToString() == "Dashboard")
    {
        controllerName = "Dashboard";
    }
    else if (ViewData["CurrentController"]?.ToString() == "Transaction")
    {
        controllerName = "Transaction";
    }
}




<!--Inbox Modal-->
<div class="modal fade" id="inboxModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
           <div class="title-close-holder">
                <span class="inbox-title">Notifications</span>
                <button type="button" data-bs-dismiss="modal" id="close-btn">&times;</button>
           </div>
            <div class="inbox-table table-responsive">
                <table class="inbox-table-content table table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Message</th>
                            <th>Received Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Notifications)
                        {
                            <tr class="@(item.IsRead ? "read" : "unread")"
                                data-controller="@controllerName"
                                data-id="@item.Id"
                                data-title="@item.Title"
                                data-message="@item.Message"
                                data-timestamp="@item.TimeStamp"
                                data-isread="@(item.IsRead ? "Read" : "Unread")"
                                data-bs-target="#inboxModal2"
                                data-bs-toggle="modal" 
                                data-bs-dismiss="modal">

                                <td>@item.Title</td>
                                <td>@item.Message</td>
                                <td>@item.TimeStamp.ToString("g")</td>
                                <td class="status">@(item.IsRead ? "Read" : "Unread")</td>
                                <td>
                                    <div class="action-button">
                                        <a asp-action="Delete" asp-route-id="@item" class="text-danger"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="left"
                                           title="Delete">
                                            <i class="fa-solid fa-circle-xmark"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Inbox Modal-->
<!--Second Inbox Modal-->
<div class="modal fade" id="inboxModal2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal2-btn-holder">
                <button id="second-inbox-closeBtn" type="button" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!--Second Inbox Modal-->