@model Category

@section CustomStyles{

    <link rel="stylesheet" href="@Url.Content("~/css/modal.css")" />
}

@{
    ViewData["CurrentPage"] = "Index";
}

<div class="row d-flex justify-content-center m-auto" style="height: 100%; width: 100%">

    @*<a class="button" href="#popupModal">Launch Modal</a>*@
    <div class="overlay" id="popupModal">
        <div class="popup-modal">
            <div id="close-modal">
                <a class="close" asp-action="Index">&times;</a>
            </div>
            <div class="content h-100 align-items-center d-flex justify-content-center p-3 flex-column">
                <h2 class="text-center mb-0">Delete Category</h2>
                <form asp-action="ConfirmedDelete" class="h-100 w-100 mt-0">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(i => i.CategoryId)
                    <div class="text-light" style="word-wrap: break-word">
                        <p class="text-start">Are you sure you want to delete <strong>@Model.Title</strong> ?</p>
                    </div>
                    <div id="btn-holder">
                        <div id="cancelBtn">
                            <a class="w-100 text-center align-content-center" asp-action="Index" id="cancel-btn">Cancel</a>
                        </div>
                        <div id="delBtn">
                            <button type="submit" id="delete-btn">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@*<partial name="_ModalDeleteFunction" />*@




@section CustomsScripts{
    <script src="@Url.Content("~/js/ComponentUI.js")"></script>

}
