
@model IEnumerable<Category>


@section CustomStyles
{
    <link rel="stylesheet" href="@Url.Content("~/css/bsoverride.css")" />
}


<div class="row d-flex justify-content-center bg-image" style="background-color: #f5f7fa; height: 100%; width: 100%">
   <div class="col-md-8 mt-5 pb-2">
        <div class="mt-5" id="tableHolder">
            <table class="table table-hover table-dark mb-0">
                <thead>
                    <tr class="text-uppercase text-success">
                        <th class="text-end" >#</th>
                        <th class="text-start">Title</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-end">@item.CategoryId</td>
                            <td>@item.Title</td>
                            <td>@item.Type</td>
                            <td>
                                <div class="text-start">
                                    <a asp-action="Update" asp-route-id="@item.CategoryId" class="text-warning text-decoration-none me-1">
                                        <i class="fa-solid fa-gear" style="color: #74C0FC;"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="text-danger text-decoration-none ms-1">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
   </div>
 </div>



     
 