
@model PaginatedResult<Category>


@section CustomStyles
{
    <link rel="stylesheet" href="@Url.Content("~/css/bsoverride.css")" />
}


<div class="row d-flex justify-content-center bg-image" style="background-color: #f5f7fa; height: 100%; width: 100%">
   <div class="col-md-8 mt-5 pb-2">
        <div class="mt-5" id="tableHolder">
            <table class="table table-hover table-dark mb-0">
                <thead>
                    <tr class="text-uppercase text-success">
                        <th class="text-end" >#</th>
                        <th class="text-start">Title</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Result)
                    {
                        <tr>
                            <td class="text-end">@item.CategoryId</td>
                            <td>@item.Title</td>
                            <td>@item.Type</td>
                            <td>
                                <div class="text-start">
                                    <a asp-action="Update" asp-route-id="@item.CategoryId" class="text-warning text-decoration-none me-1">
                                        <i class="fa-solid fa-gear" style="color: #74C0FC;"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="text-danger text-decoration-none ms-1">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination p-3">
                <li class="page-item @(Model.Page == 1 ? "disabled" : "")" id="nextPrev">
                    <a class="page-link bg-transparent" asp-route-p="@(Model.Page - 1)" aria-label="Previous">
                        <span aria-hidden="true" class="bg-transparent">« Previous</span>
                    </a>
                </li>
                @for (var pageNumber = 1; pageNumber <= Model.TotalCount; pageNumber++)
                {
                    if (pageNumber == Model.Page)
                    {
                        <li class="page-item">
                            <span class="page-link bg-transparent border-0 text-light text-xl">@pageNumber</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-p="@pageNumber">
                                <span>@pageNumber</span>
                            </a>
                        </li>
                    }
                }
                <li class="page-item @(Model.Page == Model.TotalCount ? "disabled" : "")" id="nextPrev">
                    <a class="page-link bg-transparent" asp-route-p="@(Model.Page + 1)" aria-label="Next">
                        <span aria-hidden="true" class="bg-transparent">Next »</span>
                    </a>
                </li>
            </ul>
        </nav>
   </div>
 </div>

     
 