@model PaginatedResult<Category>



@section CustomStyles
{
    <link rel="stylesheet" href="@Url.Content("~/css/crud.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/css/inbox.css")" />
}

@{
    ViewData["CurrentPage"] = "Index";
    ViewData["Title"] = "Category";
    ViewData["CurrentController"] = "Category";

    var currentPage = Model.Page;
    var totalPageCount = Model.TotalPage;
    var maxPageDisplay = 5;
    var startPage = Math.Max(1, currentPage - maxPageDisplay / 2);
    var endPage = Math.Min(totalPageCount, startPage + maxPageDisplay - 1);

    if(endPage - currentPage < maxPageDisplay && startPage > 1)
    {
        startPage = Math.Max(1, endPage - maxPageDisplay - 1);
    }

}

<div class="crud-main-container">
    @if (TempData["Message"] != null)
    {
        <partial name="_PopUpSuccessModal" />
    }
   <div class="crud-content">
       <partial name="_Navbar" />
       <div class="title-container">
            <span class="title">
                @ViewData["Title"]
            </span>   
            <a class="btn btn-primary" asp-action="Create">
                <span class="">
                    <i class="fa-solid fa-plus"></i> Add Category
                </span>
            </a>
       </div>
        <div class="search-bar-holder">
            <form asp-action="Index" method="get" class="searchForm">
               @Html.AntiForgeryToken();
                <input type="text" 
                       placeholder="Search Category Title.." 
                       name="s"
                       value="@Model.SearchKeyword"/>
                <button type="submit">
                    <span>
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    </span>
                </button>
            </form>
            <div class="filter">
                <div>
                    <span> <i class="fa-solid fa-rotate"></i> Order by: </span>
                </div>
                <div class="filter-name">
                    <form asp-action="Index" method="get">
                        @Html.AntiForgeryToken();
                        <input type="hidden" name="sort" value="@(ViewBag.SortOrder == "Icon" ? "Icon_Desc" : "Icon")" />
                        <button class="" type="submit">Icon</button>
                    </form>
                </div>
                <div class="filter-name">
                    <form asp-action="Index" method="get">
                        @Html.AntiForgeryToken();
                        <input type="hidden" name="sort" value="@(ViewBag.SortOrder == "Title" ? "Title_Desc" : "Title")" />
                        <button class="" type="submit">Title</button>
                    </form>
                </div>
                <div class="filter-name">
                    <<form asp-action="Index" method="get">
                        @Html.AntiForgeryToken();
                        <input type="hidden" name="sort" value="@(ViewBag.SortOrder == "Type" ? "Type_Desc" : "Type")" />
                        <button class="" type="submit">Type</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="table">
            <table class="table-content">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Result)
                    {
                        <tr>
                            <td>@item.Icon</td>
                            <td>@item.Title</td>
                            <td class="type-custom"><span class="@(item.Type == "Income" ? "bg-success" : "bg-danger")" id="type-bg"></span>@item.Type</td>
                            <td>
                                <div class="action-button">
                                    <a asp-action="Update" asp-route-id="@item.CategoryId" class=""
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="left"
                                       title="Update">
                                        <i class="fa-solid fa-gear" style="color: #74C0FC;"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="text-danger"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="left"
                                       title="Delete">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="pagination-div">
            <div class="pagination-content">
                <div class="pagination">
                    <ul class="ulList">
                        <li class="page-item @(Model.Page == 1 || Model.TotalPage == 0? "disabled" : "")">
                            <a class="page-link" asp-route-s="@(Model.SearchKeyword)" 
                                                 asp-route-p="@(Model.Page == 1)" 
                                                 asp-route-sort="@ViewBag.SortOrder)">
                                <span>
                                    First
                                </span>
                            </a>
                        </li>
                        <li class="page-item @(Model.Page == 1 || Model.TotalPage == 0 ? "disabled" : "")">
                            <a class="page-link" asp-route-s="@(Model.SearchKeyword)" 
                                                 asp-route-p="@(Model.Page - 1)"
                                                 asp-route-sort="@ViewBag.SortOrder">
                                <span>
                                    <i class="fa-solid fa-angles-left"></i>
                                </span>
                            </a>
                        </li>
                        @for(var pageNumber = startPage; pageNumber <= endPage; pageNumber++)
                        {
                            <li class="page-item @(pageNumber == currentPage ? "active" : "")">
                                <a class="page-link" asp-route-s="@(Model.SearchKeyword)" 
                                                     asp-route-p="@(pageNumber)"
                                                     asp-route-sort="@ViewBag.SortOrder">
                                    @pageNumber
                                </a>
                            </li>
                        }
                        <li class="page-item @(Model.Page == Model.TotalPage || Model.TotalPage == 0? "disabled" : "")">
                            <a class="page-link" asp-route-s="@(Model.SearchKeyword)" 
                                                 asp-route-p="@(Model.Page + 1)"
                                                 asp-route-sort="@ViewBag.SortOrder">
                                <span>
                                    <i class="fa-solid fa-angles-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="page-item @(Model.Page == Model.TotalPage || Model.TotalPage == 0 ? "disabled" : "")">
                            <a class="page-link" asp-route-s="@(Model.SearchKeyword)" 
                                                 asp-route-p="@(Model.Page = Model.TotalPage)" 
                                                 asp-route-sort="@ViewBag.SortOrder">
                                <span>
                                    Last
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
   </div>
 </div>
<partial name="_NotificationInboxModal" />
@section CustomScripts {
    <script src="@Url.Content("~/js/ComponentUI.js")"></script>
    <script src="@Url.Content("~/js/inbox.js")"></script>
    <script src="@Url.Content("~/js/site.js")"></script>

}
     
