
@model CategoryViewModel

@{
    var emojis = new List<string>();
    emojis.Add("☕");
    emojis.Add("🏚️");
    emojis.Add("✈️");
    emojis.Add("🥎");
    emojis.Add("🍴");
    emojis.Add("🚘");
    emojis.Add("🛍️");
    emojis.Add("💲");
    emojis.Add("🩺");
    emojis.Add("🗝️");
    emojis.Add("🏥");
    emojis.Add("💵");
    emojis.Add("🎮");
    emojis.Add("🐕");
    emojis.Add("💊");
}


@section CustomStyles {

    <link rel="stylesheet" href="@Url.Content("~/css/crud.css")" />

}

@{
    ViewData["CurrentPage"] = "Update";
}


<div class="create-main-container">
    <div class="wrapper">
        <div class="create-title row mb-2">
            <h5 class="text-light">Edit Category</h5>
            <!--p class="text-secondary">by login your account here</!--p-->
        </div>
        <div class="crud-form">
            <form id="create-form" asp-action="Update" method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Category.CategoryId)
                <label asp-for="@Model.Category.Title"></label>
                <span asp-validation-for="@Model.Category.Title" class="text-danger"></span>
                <div id="crud-input">
                    <input asp-for="@Model.Category.Title" placeholder="Title" />
                </div>
                <label asp-for="@Model.Category.Icon"></label>
                <span asp-validation-for="@Model.Category.Icon" class="text-danger"></span>
                <div id="crud-input">
                    <select asp-for="@Model.Category.Icon">
                        <option class="font-monospace" selected disabled>Choose Icon</option>
                        @foreach (var i in emojis)
                        {
                            <option class="font-monospace" value="@i ">
                                @i
                            </option>
                        }
                    </select>
                </div>
                <label asp-for="@Model.Category.Type"></label>
                <span asp-validation-for="@Model.Category.Type" class="text-danger"></span>
                <div id="crud-input">
                    <select asp-for="@Model.Category.Type">
                        <option class="font-monospace" selected disabled>Choose Type</option>
                        <option class="font-monospace" value="Income">Income</option>
                        <option class="font-monospace" value="Expense">Expense</option>
                    </select>
                </div>
                <div class="form-button">
                    <div class="submit-button">
                        <button type="submit">Save</button>
                    </div>
                    <div class="cancel-button">
                        <a asp-action="Index">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}


@*
<div class="row d-flex justify-content-center m-auto p-2" style="height: 100%; width: 100%">
    <div class="col-md-5 bg-dark main-container m-auto">
        <div class="text-center mt-2 pt-5" id="title-holder">
            <h3 class="text-light">Edit Category</h3>
        </div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="text-center"><span class="text-danger small">@TempData["ErrorMessage"]</span></div>
        }
        <div>
            <form asp-action="Update" method="post" class="p-2 h-100">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(i => i.Category.CategoryId)
                <div class="text-center"><span asp-validation-for="@Model.Category.Title" class="text-danger small"></span></div>
                <div class="mb-1">
                    <label asp-for="@Model.Category.Title"></label>
                    <input asp-for="@Model.Category.Title" placeholder="@Model.Category.Title" class="form-control rounded-0" />
                </div>
                <div class="text-center"><span asp-validation-for="@Model.Category.Icon" class="text-danger small"></span></div>
                <label asp-for="@Model.Category.Icon"></label>
                <div class="input-group mb-1">
                    <select class="form-select rounded-0" onfocus="this.size=5" onblur="this.size=1" id="inputGroupSelect02" asp-for="@Model.Category.Icon">
                        <option class="font-monospace" value="" disabled selected>Choose Icon</option>
                        @foreach (var icon in emojis)
                        {
                            <option class="font-monospace" value="@icon">@icon</option>
                        }
                    </select>
                </div>
                <div class="text-center"><span asp-validation-for="@Model.Category.Type" class="text-danger small"></span></div>
                <label asp-for="@Model.Category.Type"></label>
                <div class="input-group mb-1">
                    <select class="form-select rounded-0" id="inputGroupSelect02" asp-for="@Model.Category.Type">
                        <option value="" class="font-monospace" disabled selected>Choose Type</option>
                        <option value="Expense" class="font-monospace">Expense</option>
                        <option value="Income" class="font-monospace">Income</option>
                    </select>
                </div>
                <div id="btnHolder" class="mt-3 pb-5">
                    <button type="submit" class="btn w-100 rounded-0">Save</button>
                    <a asp-action="Index" class="btn w-100 mt-3 btn-danger rounded-0">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
*@
