@model AdminSendNotificationViewModel

@{
    ViewData["Title"] = "AdminSendNotification";
    Layout = "_LayoutNoSidebar";
   
}

<div class="notification-wrapper">
    <form method="post" asp-action="CreateNotification">
        @Html.AntiForgeryToken()
        <div>
            <label asp-for="@Model.Notification.Title"></label>
            <span asp-validation-for="@Model.Notification.Title" class="text-danger"></span>
            <input asp-for="@Model.Notification.Title" placeholder="Title" />
        </div>
        <div>
            <label asp-for="@Model.Notification.Message"></label>
            <span asp-validation-for="@Model.Notification.Message" class="text-danger"></span>
            <input asp-for="@Model.Notification.Message" placeholder="Message" />
        </div>
        <div class="btn-submit">
            <button type="submit" id="send-notif-btn">
                Send
            </button>
        </div>
    </form>
    <div class="drop-down bg-danger text-light d-flex flex-column" id="notif-dropdown">
        
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/realtime.js"></script>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
   
}
