@model TransactionViewModel


@section CustomStyles {

    <link rel="stylesheet" href="@Url.Content("~/css/crud.css")" />


}

@{
    ViewData["CurrentPage"] = "Create";
}

<div class="create-main-container">
    <div class="wrapper">
        <div class="create-title row mb-2">
            <h5 class="text-light">Create New Transaction</h5>
            <!--p class="text-secondary">by login your account here</!--p-->
        </div>
        <div class="crud-form">
            <form id="create-form" asp-action="Update" method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Transaction.TransactionId)
                <label asp-for="Transaction.Date"></label>
                <span asp-validation-for="Transaction.Date" class="text-danger"></span>
                <div id="crud-input">
                    <input asp-for="Transaction.Date" type="date" placeholder="" />
                </div>
                <label asp-for="Transaction.CategoryId"></label>
                <span asp-validation-for="Transaction.CategoryId" class="text-danger"></span>
                <div id="crud-input">
                    <select asp-for="Transaction.CategoryId">
                        <option class="font-monospace" selected disabled>Choose Category</option>
                        @foreach (var i in Model.Categories)
                        {
                            <option class="font-monospace" value="@i.CategoryId">
                                @i.Title
                            </option>
                        }
                    </select>
                </div>
                <label asp-for="Transaction.Amount"></label>
                <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
                <div id="crud-input">
                    <input asp-for="Transaction.Amount" type="date" placeholder="Amount" min="0" type="number" />
                </div>
                <label asp-for="Transaction.Note"></label>
                <span asp-validation-for="Transaction.Note" class="text-danger"></span>
                <div id="crud-input">
                    <textarea asp-for="Transaction.Note" class="form-control rounded-0" rows="2"></textarea>
                </div>
                <div class="form-button">
                    <div class="submit-button">
                        <button type="submit">Confirm</button>
                    </div>
                    <div class="cancel-button">
                        <a asp-action="Index">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
@section CustomScripts {
    <script src="@Url.Content("~/js/ComponentUI.js")"></script>
}
