@model DashboardViewModel



@section CustomStyles {

    <link rel="stylesheet" href="@Url.Content("~/css/dashboard.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/crud.css")" />
}


@{
    ViewData["CurrentPage"] = "Dashboard";

}

<div class="main p-0" id="dash-main-div">
    <div class="row firstDiv" id="first-div">
        <partial name="_Navbar" />
        <div class="row" id="DataHolder">
            <form method="get" asp-action="Index" class="mb-0" id="dataDisplay">
                <select class="form-select" name="dayRange" onchange="this.form.submit()" id="dataDisplaySelect">
                    <option value="" class="font-monospace" disabled selected>Data Shown</option>
                    <option value="7" class="font-monospace">Past 7 Days</option>
                    <option value="14" class="font-monospace">Past 15 days</option>
                    <option value="30" class="font-monospace">Past 30 days</option>
                </select>
            </form>
        </div>
        <div class="row">
            <div class="col-sm total-income w-100" id="col">
                <div class="holder">
                    PHP
                </div>
                <div class="income p-0 mt-0 w-100" id="income">
                    <div class="col w-100" id="t-income">
                        <h6>Total Income</h6>
                    </div>
                    <div class="col" id="income-numbers">
                        <h5>@Model.TotalIncome.ToString("PHP #,##0")</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm total-expense" id="col">
                <div class="holder">
                    PHP
                </div>
                <div class="expense p-0 mt-0 w-100" id="expense">
                    <div class="col w-100" id="t-expense">
                        <h6>Total Expense</h6>
                    </div>
                    <div class="col" id="expense-numbers">
                        <h5>@Model.TotalExpense.ToString("PHP #,##0")</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm total-balance" id="col">
                <div class="holder">
                    PHP
                </div>
                <div class="balance p-0 mt-0 w-100" id="balance">
                    <div class="col w-100" id="t-balance">
                        <h6>Balance</h6>
                    </div>
                    <div class="col" id="balance-numbers">
                        <h5>@Model.Balance.ToString("PHP #,##0")</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row secondDiv p-1" id="second-div">
        <div class="row">
            <div class="col-md-4" id="chart-container">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-md p-0" id="lineChart-container">
                <canvas width ="400" height="200" id="myLineChart"></canvas>
            </div>
        </div>
    </div>
    <div class="latest-div">
        <div class="dashboard-table">
            <span id="latest-title">Recent Transactions</span>
            <table class="dashboard-table-content">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Note</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Transactions.TakeLast(5).Reverse())
                    {
                        <tr>
                            <td>@item.Category.Title</td>
                            <td>@item.Note</td>
                            <td>@item.Date</td>
                            <td style="@(item.FormattedAmount.StartsWith('+') ? "color: #198754" : "color: #dc3545" )">@item.FormattedAmount</td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
    @if (ViewBag.DayRange == 7)
    {
        <span id="dataDisplayText" class="ps-2 p-0 m-0">Data Shown: Past 7 days</span>
    }
    else if(ViewBag.DayRange == 14)
    {
        <span id="dataDisplayText" class="ps-2 p-0 m-0">Data Shown: Past 15 days</span>
    }
    else if (ViewBag.DayRange == 30)
    {
        <span id="dataDisplayText" class="ps-2 p-0 m-0">Data Shown: Past 30 days</span>
    }
    else
    {
        <span id="dataDisplayText" class="ps-2 p-0 m-0">Data Shown: No Data Shown</span>
    }
</div>
</div>

@section CustomScripts {
  
    <script>
        window.chartData = JSON.parse('@Html.Raw(ViewBag.DoughnutChart)');
        var LineChartData = @Html.Raw(ViewBag.LineChart)
    </script>
   
    <script src="@Url.Content("~/js/doughnutChart.js")"></script>
    <script src="@Url.Content("~/js/LineChart.js")"></script>
    <script src="@Url.Content("~/js/site.js")"></script>

}

